.page {
    // .page__gallery

    &__gallery {
        padding: 120px 0px;
    }

    @media (max-width: 1024px) {
        &__gallery {
            padding: 100px 0px;
        }
    }

    @media (max-width: 996px) {
        &__gallery {
            padding: 80px 0px;
        }
    }

    @media (max-width: 669px) {
        &__gallery {
            padding: 50px 0px;
        }
    }
}

.gallery {


    // .gallery__body

    &__body {}

    // .gallery__row

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .gallery__block-1

    &__block-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &>*:not(:last-child) {
            margin: 0px 0px 40px 0px;
        }
    }

    // .gallery__image-1

    &__image-1 {}

    // .gallery__image-2

    &__image-2 {}

    // .gallery__block-2

    &__block-2 {}

    // .gallery__image-3

    &__image-3 {}

    @media (max-width: 1350px) {
        &__row {
            flex-direction: column;

        }

        &__block-2:not(:last-child) {
            margin: 40px 0px 0px 0px;
        }
    }
}